# if you don't use git-crypt, no action required

# if you use it, replace this file with your gitcrypt key export file. obtain it by running
# git-crypt export-key gitcrypt.key
# in your git-crypt-protected repo
# put ENABLE_GIT_CRYPT=true into your .env
